# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# production
**/build

# Local .terraform directories
**/.terraform/*

# Terraform lock files
*.lock.*

# .tfstate files
*.tfstate
*.tfstate.*